body {
    margin: 0;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}

.home {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    display: flex;
    padding: 6px;
    height: 48px;
    align-items: center;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.left {
    margin-left: 4px;
}

.left a {
    margin-left: 16px;
}

.right {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 13px;
}

.right a {
    margin-right: 15px;
    margin-bottom: 2px;
}

#appbtn {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 14px;
    margin-left: 2px;
    background: #fff;
}

#appbtn:hover {
    background-color: #e8e9e9;
}

#signinbtn {
    margin-right: 12px;
    background-color: #1a73e8;
    border: 1px solid transparent;
    color: #fff;
    width: 96px;
}

.picture {
    display: flex;
    justify-content: center;
}

.logo-container {
    display: flex;
    flex-direction: column;
    height: 254px;
    justify-content: flex-end;
    width: fit-content;
}

.search-bar {
    display: flex;
    justify-content: center;
}

.search {
    margin-top: 26px;    
    margin-bottom: 26px;
    border-radius: 50px;
    border: 1px solid rgb(230, 228, 228);
    height: 42px;
    width: 578px;
}

.search:focus {
    outline: none;
}

.buttons {
    margin-top: 3px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    border: 0px;
    border-radius: 4px;
    font-size: 14px;
    height: 36px;
    width: 130px;
    background-color: #f8f9fa;
    color: #3c4043;
}

#button1 {
    width: 130px;
}
#button2 { 
    width: 145px;
}
.space {
    height: 316px;    
}

.footer {
    height: 47px;
    display: flex;
    background-color: #f2f2f2;
    align-items: center;
}

.left-f {
    margin-left: 9px;
    margin-bottom: 1px;
}

.left-f a {
    margin-left: 26px;
}

.right-f {
    margin: 0px 9px 1px auto;
}

.right-f a {
    margin-right: 26px;
}

.footer a {
    color: #70757a;
}

.middle {
    margin: 0px 108px 2px auto;
}

.middle img {
    width: 12px;
    margin-right: 2px;
}

